@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@font-face {
  font-family: "LinkinPark";
  src: url(../fonts/linkinpark.ttf); }

/*! ------------------------- RESET ------------------------- */
* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0; }

.nombre-bio h2 {
  padding: 15px; }

/* bootstrap clases */
.navbar-toggler-icon {
  background-color: white; }

.menu {
  background-color: black; }

.nav-link {
  color: white; }

.active {
  background-color: white;
  color: #ee0d0d; }

.nav-item a {
  color: white; }

.nav-item a:hover {
  background-color: white;
  color: black; }

.dropdown-menu {
  background-color: black; }

.boton {
  border-color: white;
  color: white; }

.boton:hover {
  background-color: white;
  color: black; }

.navbar-brand {
  color: white; }

.fix {
  color: white; }

.fix:hover {
  color: #8d8d8d; }

.active {
  background-color: black; }

.carroza {
  background-color: black;
  display: flex;
  flex-direction: column; }

.sizze {
  width: 70%;
  height: 90%;
  margin-bottom: 10px;
  position: relative;
  left: 15%; }

header {
  position: sticky;
  top: 0;
  z-index: 1; }

.titulo h1 {
  font-family: "LinkinPark";
  font-size: 40px;
  font-style: italic;
  color: white;
  position: relative;
  bottom: -10px;
  padding: 20px; }

.titulo div {
  display: flex;
  align-items: center;
  padding: 10px; }

.titulo div img {
  width: 60px;
  height: 60px; }

.nombre-bio {
  color: white;
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url("../img/linkin-bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .nombre-bio h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 30px;
    text-decoration: none;
    background-color: #0f0f0f; }
  .nombre-bio p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 15px;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.288); }

.top-title {
  background-color: black;
  border-style: solid;
  border-width: 1px; }
  .top-title h2 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 20px;
    padding: 15px;
    margin: 0px; }
  .top-title .top-songs {
    background-image: url(../img/linkin-bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }
    .top-title .top-songs .video-titulo {
      margin: 0px; }
      .top-title .top-songs .video-titulo h3 {
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 20px;
        background-color: black;
        padding: 10px;
        border-radius: 10px;
        width: 30%;
        position: relative;
        left: 35%; }
      .top-title .top-songs .video-titulo .videos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 50px; }
        .top-title .top-songs .video-titulo .videos iframe {
          border-radius: 20px; }

.img-poster h2 {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 30px;
  padding: 15px;
  margin-bottom: -1px;
  background-color: #0f0f0f; }

.carroza {
  background-color: black;
  display: flex;
  flex-direction: column; }
  .carroza .carousel-inner .active {
    background-color: black; }
    .carroza .carousel-inner .active .sizze {
      width: 70%;
      height: 90%;
      margin-bottom: 10px;
      position: relative;
      left: 15%; }

.conjunto-img {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .conjunto-img .foto-1 img {
    width: 60%;
    padding: 20px;
    gap: 10px;
    position: relative;
    left: 20%; }
  .conjunto-img .foto-1 h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin-right: 100px;
    background-color: #0f0f0f; }

.albumes-bg {
  background-image: url(../img/linkin-bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .albumes-bg .albumes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 2fr);
    gap: 0px; }
    .albumes-bg .albumes-grid .album-1 h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      margin: 50px;
      padding: 20px;
      border-radius: 10px; }
    .albumes-bg .albumes-grid .album-1 a img {
      position: relative;
      left: 25%;
      bottom: 5%;
      outline: 1px solid white;
      width: 300px;
      height: 300px;
      padding: 5px;
      margin: 5px;
      transition: 0.5s; }
      .albumes-bg .albumes-grid .album-1 a img:hover {
        outline: 3px solid white;
        transform: scale(1.05);
        box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5); }
    .albumes-bg .albumes-grid .album-2 h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      margin: 50px;
      padding: 20px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.589); }
    .albumes-bg .albumes-grid .album-2 a img {
      position: relative;
      left: 25%;
      bottom: 5%;
      outline: 1px solid white;
      width: 300px;
      height: 300px;
      padding: 5px;
      margin: 5px;
      transition: 0.5s; }
      .albumes-bg .albumes-grid .album-2 a img:hover {
        outline: 3px solid white;
        transform: scale(1.05);
        box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5); }
    .albumes-bg .albumes-grid .album-3 h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      margin: 50px;
      padding: 20px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.589); }
    .albumes-bg .albumes-grid .album-3 a img {
      position: relative;
      left: 25%;
      bottom: 5%;
      outline: 1px solid white;
      width: 300px;
      height: 300px;
      padding: 5px;
      margin: 5px;
      transition: 0.5s; }
      .albumes-bg .albumes-grid .album-3 a img:hover {
        outline: 3px solid white;
        transform: scale(1.05);
        box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5); }
    .albumes-bg .albumes-grid .album-4 h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      margin: 50px;
      padding: 20px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.589); }
    .albumes-bg .albumes-grid .album-4 a img {
      position: relative;
      left: 25%;
      bottom: 5%;
      outline: 1px solid white;
      width: 300px;
      height: 300px;
      padding: 5px;
      margin: 5px;
      transition: 0.5s; }
      .albumes-bg .albumes-grid .album-4 a img:hover {
        outline: 3px solid white;
        transform: scale(1.05);
        box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5); }
    .albumes-bg .albumes-grid .album-5 h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      margin: 50px;
      padding: 20px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.589); }
    .albumes-bg .albumes-grid .album-5 a img {
      position: relative;
      left: 25%;
      bottom: 5%;
      outline: 1px solid white;
      width: 300px;
      height: 300px;
      padding: 5px;
      margin: 5px;
      transition: 0.5s; }
      .albumes-bg .albumes-grid .album-5 a img:hover {
        outline: 3px solid white;
        transform: scale(1.05);
        box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5); }
    .albumes-bg .albumes-grid .album-6 h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      margin: 50px;
      padding: 20px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.589); }
    .albumes-bg .albumes-grid .album-6 a img {
      position: relative;
      left: 25%;
      bottom: 5%;
      outline: 1px solid white;
      width: 300px;
      height: 300px;
      padding: 5px;
      margin: 5px;
      transition: 0.5s; }
      .albumes-bg .albumes-grid .album-6 a img:hover {
        outline: 3px solid white;
        transform: scale(1.05);
        box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 9px 9px 0px rgba(0, 0, 0, 0.5); }

.bio-display .elementos-1 {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 25px;
  text-decoration: none;
  color: #e3e3e3;
  background-color: rgba(0, 0, 0, 0.288);
  padding: 40px; }
  .bio-display .elementos-1 h2 {
    font-size: 20px;
    position: relative;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width: 50%;
    padding: 20px; }
  .bio-display .elementos-1 p {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 20px; }

.bio-display section .integrante {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: #e3e3e3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bio-display section .integrante h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    width: 10%; }
  .bio-display section .integrante p {
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 20px; }

.spotify {
  background-image: url(../img/linkin-bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .spotify div {
    display: flex;
    justify-content: space-between;
    padding: 50px; }
    .spotify div iframe {
      margin: 20px; }

section .volver-boton {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px; }

.album-info {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .album-info .disco {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 2fr); }
    .album-info .disco img {
      outline: 1px solid white;
      position: relative;
      left: 38%;
      margin: 100px; }
    .album-info .disco h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 12px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      padding: 10px;
      position: relative;
      left: 42%;
      width: 20%;
      top: -10px; }
  .album-info .album-parrafo {
    margin: 0px;
    position: relative;
    bottom: 100%; }
    .album-info .album-parrafo p {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 18px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      padding: 20px;
      margin: 0; }

section .volver-boton a {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px; }

.album-info {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .album-info .disco {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 2fr); }
    .album-info .disco img {
      outline: 1px solid white;
      position: relative;
      left: 38%;
      margin: 100px; }
    .album-info .disco h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 12px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      padding: 10px;
      position: relative;
      left: 42%;
      width: 20%;
      top: -10px; }
  .album-info .album-parrafo {
    margin: 0px;
    position: relative;
    bottom: 100%; }

section .volver-boton a {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px; }

.album-info {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .album-info .disco {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 2fr); }
    .album-info .disco img {
      outline: 1px solid white;
      position: relative;
      left: 38%;
      margin: 100px; }
    .album-info .disco h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 12px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      padding: 10px;
      position: relative;
      left: 42%;
      width: 20%;
      top: -10px; }
  .album-info .album-img {
    margin: 0px;
    position: relative;
    bottom: 100%; }
    .album-info .album-img p {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 18px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      padding: 20px;
      margin: 0; }

section .volver-boton a {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px; }

.album-info {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .album-info .disco {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 2fr); }
    .album-info .disco img {
      outline: 1px solid white;
      position: relative;
      left: 38%;
      margin: 100px; }
    .album-info .disco h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 12px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      padding: 10px;
      position: relative;
      left: 42%;
      width: 20%;
      top: -10px; }
  .album-info .album-parrafo {
    margin: 0px;
    position: relative;
    bottom: 100%; }

section .volver-boton a {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px; }

.album-info {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .album-info .disco {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 2fr); }
    .album-info .disco img {
      outline: 1px solid white;
      position: relative;
      left: 38%;
      margin: 100px; }
  .album-info .disco h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 10px;
    position: relative;
    left: 42%;
    width: 20%;
    top: -10px; }
  .album-info .album-parrafo {
    margin: 0px;
    position: relative;
    bottom: 100%; }

section .volver-boton a {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px; }

.album-info {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .album-info .disco {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 2fr); }
    .album-info .disco img {
      outline: 1px solid white;
      position: relative;
      left: 38%;
      margin: 100px; }
    .album-info .disco h2 {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 12px;
      text-decoration: none;
      text-align: center;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      padding: 10px;
      position: relative;
      left: 42%;
      width: 20%;
      top: -10px; }
  .album-info .album-parrafo {
    margin: 0px;
    position: relative;
    bottom: 100%; }

.perfil-info {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .perfil-info div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .perfil-info div h2 {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 20px;
      text-decoration: none;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px;
      margin-top: 10px; }

.perfil-info {
  background-image: url(../img/linkin-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .perfil-info div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .perfil-info div p {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 18px;
      text-decoration: none;
      color: #e3e3e3;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px;
      margin: 5px;
      width: 50%;
      position: relative;
      bottom: 0px; }
    .perfil-info div img {
      position: relative;
      bottom: 0px; }

.nombre-bio {
  color: white;
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url("../img/linkin-bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .nombre-bio h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 30px;
    text-decoration: none;
    background-color: #0f0f0f; }
  .nombre-bio p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 15px;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.288); }

.top-title {
  background-color: black;
  border-style: solid;
  border-width: 1px; }
  .top-title h2 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 30px;
    padding: 15px;
    background-color: #0f0f0f; }

.img-poster h2 {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 30px;
  padding: 15px;
  margin-bottom: -1px;
  background-color: #0f0f0f; }

.conjunto-img .foto-1 img {
  width: 60%;
  padding: 20px;
  gap: 10px;
  position: relative;
  left: 20%; }

.conjunto-img .foto-1 h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin-right: 100px;
  background-color: #0f0f0f; }

.conjunto-img .foto-2 img {
  width: 60%;
  padding: 20px;
  gap: 10px;
  position: relative;
  left: 20%; }

.conjunto-img .foto-2 h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin-right: 100px;
  background-color: #0f0f0f; }

.conjunto-img .foto-3 img {
  width: 60%;
  padding: 20px;
  gap: 10px;
  position: relative;
  left: 20%; }

.conjunto-img .foto-3 h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin-right: 100px;
  background-color: #0f0f0f; }

.conjunto-img .foto-4 img {
  width: 60%;
  padding: 20px;
  gap: 10px;
  position: relative;
  left: 20%; }

.conjunto-img .foto-4 h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin-right: 100px;
  background-color: #0f0f0f; }

.conjunto-img .foto-5 img {
  width: 60%;
  padding: 20px;
  gap: 10px;
  position: relative;
  left: 20%; }

.conjunto-img .foto-5 h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin-right: 100px;
  background-color: #0f0f0f; }

.conjunto-img .foto-9 img {
  width: 60%;
  padding: 20px;
  gap: 10px;
  position: relative;
  left: 20%; }

.conjunto-img .foto-9 h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin-right: 100px;
  background-color: #0f0f0f; }

footer {
  background-color: black; }

footer h4 {
  font-family: "LinkinPark";
  font-size: 40px;
  font-style: italic;
  color: white; }

footer section div {
  display: flex;
  width: 60px;
  height: 60px; }

.container-f {
  position: relative;
  top: 40px; }

h4 {
  font-family: "LinkinPark";
  font-size: 40px;
  font-style: italic;
  color: white; }

.social-media {
  display: flex;
  justify-content: right;
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px;
  position: relative;
  bottom: 30px;
  margin: 0; }
  .social-media div {
    display: flex;
    width: 60px;
    height: 60px; }

@media screen and (max-width: 1202px) {
  .video-titulo {
    flex-direction: column; } }

@media screen and (max-width: 350px) {
  .video-titulo {
    flex-direction: column; } }

@media screen and (max-width: 1202px) {
  .videos {
    flex-direction: column; } }

@media screen and (max-width: 1463px) {
  .nombre-bio p {
    font-size: 20px;
    margin: 15px;
    padding: 100px; } }

@media screen and (max-width: 905px) {
  .nombre-bio p {
    font-size: 20px;
    margin: 15px;
    padding: 10px; } }

@media screen and (max-width: 689px) {
  .nombre-bio p {
    font-size: 20px;
    margin: 15px;
    padding: 10px; } }

@media screen and (max-width: 509px) {
  .container-f h4 {
    font-size: 25px; } }

@media screen and (max-width: 509px) {
  .social-media img {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: -20px;
    margin: 0px;
    padding: 0px; } }

@media screen and (max-width: 395px) {
  .container-f h4 {
    font-size: 20px; } }

@media screen and (max-width: 395px) {
  .social-media img {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: -30px;
    margin: 0px;
    padding: 0px; } }

@media screen and (max-width: 446px) {
  .nombre-bio p {
    font-size: 19px;
    margin: 15px;
    padding: 10px; } }

@media screen and (max-width: 426px) {
  .nombre-bio p {
    font-size: 18px;
    margin: 15px;
    padding: 10px; } }

@media screen and (max-width: 689px) {
  header nav ul {
    align-items: center; } }

@media screen and (max-width: 689px) {
  header nav ul li {
    margin: 11px; } }

@media screen and (max-width: 600px) {
  header nav ul li a {
    font-size: 15px;
    padding: 5px; } }

@media screen and (max-width: 443px) {
  header nav ul li a {
    font-size: 13px;
    padding: 2px; } }

@media screen and (max-width: 383px) {
  header nav ul li a {
    font-size: 11px;
    padding: 2px; } }

@media screen and (max-width: 689px) {
  .titulo div {
    flex-direction: column;
    align-items: center;
    margin: 0; } }

@media screen and (max-width: 689px) {
  .titulo div h1 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 30px;
    padding: 0px; } }

@media screen and (max-width: 350px) {
  .titulo div {
    flex-direction: row;
    align-items: center;
    margin: 0; } }

@media screen and (max-width: 446px) {
  .foto-1 h3 {
    position: relative;
    left: 50px; } }

@media screen and (max-width: 446px) {
  .foto-2 h3 {
    position: relative;
    left: 50px; } }

@media screen and (max-width: 446px) {
  .foto-3 h3 {
    position: relative;
    left: 50px; } }

@media screen and (max-width: 446px) {
  .foto-4 h3 {
    position: relative;
    left: 50px; } }

@media screen and (max-width: 446px) {
  .foto-5 h3 {
    position: relative;
    left: 50px; } }

@media screen and (max-width: 583px) {
  .videos iframe {
    width: 90%;
    height: 400px; } }

@media screen and (max-width: 391px) {
  .nombre-bio p {
    font-size: 16px;
    margin: 15px;
    padding: 10px; } }

@media screen and (max-width: 543px) {
  .album-info h2 {
    font-size: 20px; } }

@media screen and (max-width: 543px) {
  .album-info p {
    font-size: 20px;
    padding: 5px;
    margin: 0px; } }

@media screen and (max-width: 543px) {
  .album-info img {
    width: 60%;
    height: 60%;
    margin: 20px; } }

@media screen and (max-width: 592px) {
  .nombre-bio p {
    font-size: 17px;
    margin: 15px;
    padding: 10px; } }

@media screen and (max-width: 438px) {
  .nombre-bio p {
    font-size: 15px;
    margin: 15px;
    padding: 10px; } }

/*? Media query 350px */
@media screen and (max-width: 350px) {
  .nombre-bio p {
    font-size: 15px; } }

@media screen and (max-width: 350px) {
  .nombre-bio h2 {
    font-size: 16px; } }

@media screen and (max-width: 350px) {
  .video-titulo h3 {
    font-size: 16px; } }

@media screen and (max-width: 350px) {
  .img-poster h2 {
    font-size: 16px; } }

@media screen and (max-width: 350px) {
  .top-title h2 {
    font-size: 16px; } }

@media screen and (max-width: 350px) {
  header nav ul li a {
    font-size: 12px;
    padding: 2px;
    margin: -8px;
    position: relative;
    left: 20px; } }

@media screen and (max-width: 350px) {
  .videos iframe {
    width: 100%;
    height: 100%; } }

@media screen and (max-width: 350px) {
  .container-f h4 {
    font-size: 16px; } }

@media screen and (max-width: 350px) {
  .social-media img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -19px;
    margin: 20px;
    padding: 0px; } }

@media screen and (max-width: 350px) {
  .foto-1 h3 {
    position: relative;
    left: 50px;
    font-size: 12px;
    margin: 9; } }

@media screen and (max-width: 350px) {
  .foto-1 img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 19px; } }

@media screen and (max-width: 350px) {
  .foto-2 h3 {
    position: relative;
    left: 50px;
    font-size: 12px;
    margin: 9; } }

@media screen and (max-width: 350px) {
  .foto-2 img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 19px; } }

@media screen and (max-width: 350px) {
  .foto-3 h3 {
    position: relative;
    left: 50px;
    font-size: 12px;
    margin: 9; } }

@media screen and (max-width: 350px) {
  .foto-3 img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 19px; } }

@media screen and (max-width: 350px) {
  .foto-4 h3 {
    position: relative;
    left: 50px;
    font-size: 12px;
    margin: 9; } }

@media screen and (max-width: 350px) {
  .foto-4 img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 19px; } }

@media screen and (max-width: 350px) {
  .foto-5 h3 {
    position: relative;
    left: 50px;
    font-size: 12px;
    margin: 9; } }

@media screen and (max-width: 350px) {
  .foto-5 img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 19px; } }

@media screen and (max-width: 350px) {
  .foto-6 img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 19px; } }

@media screen and (max-width: 350px) {
  .foto-7 img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 19px; } }

@media screen and (max-width: 350px) {
  .foto-8 img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 19px; } }

@media screen and (max-width: 350px) {
  .foto-9 img {
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 19px; } }

@media screen and (max-width: 350px) {
  .album-info h2 {
    font-size: 16px; } }

@media screen and (max-width: 350px) {
  .album-info p {
    font-size: 16px;
    padding: 5px;
    margin: 0px; } }

@media screen and (max-width: 350px) {
  .album-info img {
    width: 60%;
    height: 60%;
    margin: 20px; } }

@media screen and (max-width: 350px) {
  .conjunto-img img {
    position: relative;
    left: 20%;
    margin: 10px; } }

@media screen and (max-width: 787px) {
  .video-titulo h3 {
    width: 40%;
    position: relative;
    left: 30%; } }

@media screen and (max-width: 350px) {
  .video-titulo h3 {
    width: 60%;
    position: relative;
    left: 20%; } }

@media screen and (max-width: 1362px) {
  .conjunto-img h3 {
    position: relative;
    left: 4%; } }

@media screen and (max-width: 740px) {
  .conjunto-img h3 {
    position: relative;
    left: 7%; } }

@media screen and (max-width: 490px) {
  .conjunto-img h3 {
    position: relative;
    left: 10%; } }

@media screen and (max-width: 350px) {
  .conjunto-img h3 {
    position: relative;
    left: 15%; } }

@media screen and (max-width: 1648px) {
  .perfil-info p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 40%;
    width: 50%;
    position: relative;
    bottom: 500px; } }

@media screen and (max-width: 1254px) {
  .perfil-info p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 50%;
    width: 50%;
    position: relative;
    bottom: 500px; } }

@media screen and (max-width: 1002px) {
  .perfil-info p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 60%;
    width: 50%;
    position: relative;
    bottom: 500px; } }

@media screen and (max-width: 834px) {
  .perfil-info p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 70%;
    width: 50%;
    position: relative;
    bottom: 500px; } }

@media screen and (max-width: 716px) {
  .perfil-info p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 80%;
    width: 50%;
    position: relative;
    bottom: 500px; } }

@media screen and (max-width: 626px) {
  .perfil-info p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 90%;
    width: 50%;
    position: relative;
    bottom: 500px; } }

@media screen and (max-width: 557px) {
  .perfil-info p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 100%;
    width: 50%;
    position: relative;
    bottom: 500px; } }

@media screen and (max-width: 501px) {
  .perfil-info p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    text-decoration: none;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 150%;
    width: 80%;
    position: relative;
    bottom: 500px; } }

@media screen and (max-width: 350px) {
  .perfil-info h2 {
    font-size: 12px; } }

@media screen and (max-width: 864px) {
  .perfil-info img {
    width: 70%; } }

@media screen and (max-width: 570px) {
  .elementos-1 h2 {
    font-size: 16px; }
  .elementos-1 p {
    font-size: 16px; } }

@media screen and (max-width: 350px) {
  .elementos-1 h2 {
    font-size: 16px; }
  .elementos-1 p {
    font-size: 14px; }
  .integrante h2 {
    width: 30%; }
  .integrante p {
    font-size: 14px; } }

@media screen and (max-width: 1395px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 991px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 img {
      position: relative;
      left: 35%; }
    .albumes-bg .albumes-grid .album-2 img {
      position: relative;
      left: 35%; }
    .albumes-bg .albumes-grid .album-3 img {
      position: relative;
      left: 35%; }
    .albumes-bg .albumes-grid .album-4 img {
      position: relative;
      left: 35%; }
    .albumes-bg .albumes-grid .album-5 img {
      position: relative;
      left: 35%; }
    .albumes-bg .albumes-grid .album-6 img {
      position: relative;
      left: 35%; } }

@media screen and (max-width: 750px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-2 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-3 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-4 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-5 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-6 img {
      position: relative;
      left: 30%; } }

@media screen and (max-width: 689px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-2 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-3 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-4 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-5 img {
      position: relative;
      left: 30%; }
    .albumes-bg .albumes-grid .album-6 img {
      position: relative;
      left: 30%; } }

@media screen and (max-width: 689px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 h2 {
      position: relative;
      left: 18%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-2 h2 {
      position: relative;
      left: 18%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-3 h2 {
      position: relative;
      left: 18%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-4 h2 {
      position: relative;
      left: 18%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-5 h2 {
      position: relative;
      left: 18%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-6 h2 {
      position: relative;
      left: 18%;
      width: 50%; } }

@media screen and (max-width: 562px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 img {
      position: relative;
      left: 23%; }
    .albumes-bg .albumes-grid .album-2 img {
      position: relative;
      left: 23%; }
    .albumes-bg .albumes-grid .album-3 img {
      position: relative;
      left: 23%; }
    .albumes-bg .albumes-grid .album-4 img {
      position: relative;
      left: 23%; }
    .albumes-bg .albumes-grid .album-5 img {
      position: relative;
      left: 23%; }
    .albumes-bg .albumes-grid .album-6 img {
      position: relative;
      left: 23%; } }

@media screen and (max-width: 562px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-2 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-3 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-4 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-5 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-6 h2 {
      font-size: 16px; } }

@media screen and (max-width: 466px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-2 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-3 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-4 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-5 h2 {
      font-size: 16px; }
    .albumes-bg .albumes-grid .album-6 h2 {
      font-size: 16px; } }

@media screen and (max-width: 462px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 img {
      position: relative;
      left: 11%; }
    .albumes-bg .albumes-grid .album-2 img {
      position: relative;
      left: 11%; }
    .albumes-bg .albumes-grid .album-3 img {
      position: relative;
      left: 11%; }
    .albumes-bg .albumes-grid .album-4 img {
      position: relative;
      left: 11%; }
    .albumes-bg .albumes-grid .album-5 img {
      position: relative;
      left: 11%; }
    .albumes-bg .albumes-grid .album-6 img {
      position: relative;
      left: 11%; } }

@media screen and (max-width: 350px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 a img {
      position: relative;
      left: 6%; }
    .albumes-bg .albumes-grid .album-2 a img {
      position: relative;
      left: 6%; }
    .albumes-bg .albumes-grid .album-3 a img {
      position: relative;
      left: 6%; }
    .albumes-bg .albumes-grid .album-4 a img {
      position: relative;
      left: 6%; }
    .albumes-bg .albumes-grid .album-5 a img {
      position: relative;
      left: 6%; }
    .albumes-bg .albumes-grid .album-6 a img {
      position: relative;
      left: 6%; } }

@media screen and (max-width: 350px) {
  .albumes-bg .albumes-grid {
    grid-template-columns: repeat(1, 1fr); }
    .albumes-bg .albumes-grid .album-1 h2 {
      font-size: 16px;
      position: relative;
      left: 10%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-2 h2 {
      font-size: 16px;
      position: relative;
      left: 10%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-3 h2 {
      font-size: 16px;
      position: relative;
      left: 10%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-4 h2 {
      font-size: 16px;
      position: relative;
      left: 10%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-5 h2 {
      font-size: 16px;
      position: relative;
      left: 10%;
      width: 50%; }
    .albumes-bg .albumes-grid .album-6 h2 {
      font-size: 16px;
      position: relative;
      left: 10%;
      width: 50%; } }

@media screen and (max-width: 1386px) {
  .disco img {
    position: relative;
    left: 30%; }
  .disco h2 {
    position: relative;
    left: 38%; } }

@media screen and (max-width: 1386px) {
  .album-parrafo p {
    font-size: 14; } }

@media screen and (max-width: 1026px) {
  .disco img {
    position: relative;
    left: 25%; }
  .disco h2 {
    position: relative;
    left: 40%; } }

@media screen and (max-width: 1026px) {
  .album-parrafo p {
    font-size: 13px; } }

@media screen and (max-width: 700px) {
  .disco img {
    position: relative;
    left: 15%; }
  .disco h2 {
    position: relative;
    left: 40%; } }

@media screen and (max-width: 542px) {
  .disco img {
    position: relative;
    left: 15%; }
  .disco h2 {
    position: relative;
    left: 40%; }
  .album-info h2 {
    font-size: 12px;
    position: relative;
    top: -50px; } }

@media screen and (max-width: 950px) {
  .album-parrafo p {
    font-size: 12px; } }

@media screen and (max-width: 350px) {
  .disco img {
    position: relative;
    left: 15%; }
  .disco h2 {
    position: relative;
    left: 40%; }
  .album-info h2 {
    font-size: 12px;
    width: 30%;
    position: relative;
    top: -50px; }
  .album-img p {
    font-size: 12px;
    padding: 10px; } }

@media screen and (max-width: 350px) {
  .perfil-info p {
    margin-top: 0%;
    bottom: 0px; } }
