.albumes-bg{
    background-image: url(../img/linkin-bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .albumes-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 2fr);
        gap: 0px;
        .album-1{
            h2{
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
                color: rgb(227, 227, 227);
                background-color: rgba(0, 0, 0, 0.800);
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                ;
                margin: 50px;
                padding: 20px;
                border-radius: 10px;
            }
            a{
                img{
                    position: relative;
                    left: 25%;
                    bottom: 5%;
                    outline: 1px solid white;
                    width: 300px;
                    height: 300px;
                    padding: 5px;
                    margin: 5px;
                    transition: 0.5s;
                    &:hover{
                        outline: 3px solid white;
                        transform: scale(1.05);
                    }
                }
            }
        }
        .album-2{
            h2{
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
                color: rgb(227, 227, 227);
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                ;
                margin: 50px;
                padding: 20px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.589);
            }
            a{
                img{
                    position: relative;
                    left: 25%;
                    bottom: 5%;
                    outline: 1px solid white;
                    width: 300px;
                    height: 300px;
                    padding: 5px;
                    margin: 5px;
                    transition: 0.5s;
                    &:hover{
                        outline: 3px solid white;
                        transform: scale(1.05);
                    }
                }
            }
        }
        .album-3{
            h2{
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
                color: rgb(227, 227, 227);
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                ;
                margin: 50px;
                padding: 20px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.589);
            }
            a{
                img{
                    position: relative;
                    left: 25%;
                    bottom: 5%;
                    outline: 1px solid white;
                    width: 300px;
                    height: 300px;
                    padding: 5px;
                    margin: 5px;
                    transition: 0.5s;
                    &:hover{
                        outline: 3px solid white;
                        transform: scale(1.05);
                    }
                }
            }
        }
        .album-4{
            h2{
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
                color: rgb(227, 227, 227);
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                ;
                margin: 50px;
                padding: 20px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.589);
            }
            a{
                img{
                    position: relative;
                    left: 25%;
                    bottom: 5%;
                    outline: 1px solid white;
                    width: 300px;
                    height: 300px;
                    padding: 5px;
                    margin: 5px;
                    transition: 0.5s;
                    &:hover{
                        outline: 3px solid white;
                        transform: scale(1.05);
                    }
                }
            }
        }
        .album-5{
            h2{
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
                color: rgb(227, 227, 227);
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                ;
                margin: 50px;
                padding: 20px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.589);
            }
            a{
                img{
                    position: relative;
                    left: 25%;
                    bottom: 5%;
                    outline: 1px solid white;
                    width: 300px;
                    height: 300px;
                    padding: 5px;
                    margin: 5px;
                    transition: 0.5s;
                    &:hover{
                        outline: 3px solid white;
                        transform: scale(1.05);
                    }
                }
            }
        }
        .album-6{
            h2{
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
                color: rgb(227, 227, 227);
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                ;
                margin: 50px;
                padding: 20px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.589);
            }
            a{
                img{
                    position: relative;
                    left: 25%;
                    bottom: 5%;
                    outline: 1px solid white;
                    width: 300px;
                    height: 300px;
                    padding: 5px;
                    margin: 5px;
                    transition: 0.5s;
                    &:hover{
                        outline: 3px solid white;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}