@font-face {
    font-family: "LinkinPark";
    src: url(../fonts/linkinpark.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/*! ------------------------- RESET ------------------------- */

* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

.nombre-bio h2 {
    padding: 15px;
}

.navbar{

}

.navbar-expand-lg{

}

.menu{

}

.navbar-toggler{

}

.collapse{

}

.navbar-collapse{

}

.navbar-nav{

}

.me-auto{

}

.mb-2{

}

.mb-lg-0{

}

.nav-item{

}

.nav-link{

}

.dropdown-toggle{

}

.dropdown-menu{

}

.dropdown-item{

}

.dropdown-divider{

}

.d-flex{

}

.form-control{

}

.me-2{

}

.btn{

}

.boton{
    
}

