
.titulo{
    .menu{
        background-color: black;
        .container-fluid{
            .fix{
                color: white;
            }
            .navbar-toggler{
                .navbar-toggler-icon{

                }
            }
            .navbar-collapse{
                .mb-lg-0{
                    .nav-item{
                        color: white;
                        a{
                            color: white;
                            &:hover{

                            }
                        }
                    }
                }
            }
        }
    }
}
.nombre-bio{
    color: white;
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url("../img/linkin-bg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    h2{
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 30px;
        text-decoration: none;
        background-color: rgb(15, 15, 15);
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 25px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        ;
        margin: 15px;
        padding: 100px;
        background-color: rgba(0, 0, 0, 0.288);
    }
}
.top-title{
    background-color: black;
    border-style: solid;
    border-width: 1px;
    h2{
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 20px;
        padding: 15px;
        margin: 0px;
    }
    .top-songs{
        background-image: url(../img/linkin-bg3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        .video-titulo{
            margin: 0px;
            h3{

            }
            .videos{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 100px;
                padding: 50px;
                iframe{
                    border-radius: 20px;
                }
            }
            h3{

            }
            .videos{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 100px;
                padding: 50px;
                iframe{
                    border-radius: 20px;
                }
            }
            h3{
                
            }
            .videos{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 100px;
                padding: 50px;
                iframe{
                    border-radius: 20px;
                }
            }
        }
    }
}
.img-poster{
    h2{
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 30px;
        padding: 15px;
        margin-bottom: -1px;
        background-color: rgb(15, 15, 15);
    }
}
.carroza{

}

.conjunto-img{
    background-image: url(../img/linkin-bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    .foto-1{
        img{
            width: 60%;
            padding: 20px;
            gap: 10px;
            position: relative;
            left: 20%;
        }
        h3{
            color: white;
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            font-size: 20px;
            text-align: center;
            padding: 15px;
            margin-right: 100px;
            background-color: rgb(15, 15, 15);
        }
    }

    .foto-2{
        img{

        }
        h3{
            
        }
    }

    .foto-3{
        img{

        }
        h3{
            
        }
    }

    .foto-4{
        img{

        }
        h3{
            
        }
    }

    .foto-5{
        img{

        }
        h3{
            
        }
    }

    .foto-9{
        img{

        }
        h3{
            
        }
    }
}

